@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2)
      format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: #fcfcf9 !important;
}

ol,
ul {
  list-style: none;
}

.clearfix {
  clear: both !important;
}

.nav-web {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 21;
  left: 0;
}

@media only screen and (min-width: 981px) {
  .footer-wrapper {
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
  }
  .footer-logo {
    background-image: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/couponscom_logo_color.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 47px;
    margin-right: 10px;
    background-size: 51px;
    background-position: -1px 12px;
  }
  .footer-desc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 19px !important;
  }
  .footer-desc-wrapper .desc {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 6px 0;
    font-family: Poppins, sans-serif;
  }
  .dwnld-now-Desktop {
    background: #0098ff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 33px !important;
    color: #fff !important;
    padding: 0 12px !important;
    border-radius: 15.5px !important;
    letter-spacing: 0 !important;
    text-transform: initial !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    font-family: Poppins, sans-serif;
  }
  .txt-link {
    text-decoration: none;
    color: #333;
    font-family: Poppins, sans-serif !important;
    letter-spacing: normal !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: initial !important;
  }
}

.codes-navbar,
.codes-navbar-footer {
  position: relative;
  top: 85px;
}

#header-links * {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

header {
  margin: 0 auto;
  display: table;
  width: 980px;
  padding: 0 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

#header {
  z-index: 4 !important;
  background-color: #fff;
}

.header-dark {
  background-color: #fff;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header-dark::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  background-position: -10px -255px;
}

.header-dark header {
  padding-bottom: 0;
}

.header-dark .desktop-menu ul li a {
  color: #000;
  text-transform: inherit;
  font-weight: 300;
}

.header-dark .desktop-menu ul li a {
  font-size: 12px;
  position: relative;
}

.header-dark .desktop-menu .main-dropdown-child a {
  color: #333;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;
  top: 0;
  margin-bottom: 2px;
}

.header-dark .main-dropdown-parent > a:hover:after,
.header-dark .print-dropdown-parent > a:hover:after {
  background: 0 0;
  border: 0;
}

.header-dark .main-dropdown-parent > a:after,
.header-dark .print-dropdown-parent > a:after {
  background: 0 0;
  border: 0;
}

.header-dark .drop-down-menu-parent {
  z-index: 2;
}

.header-dark .mobile-menu-btn .fa-bars {
  color: #fff;
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 2px;
}

.header-dark .selected {
  font-weight: 400 !important;
}

.header-dark .account-menu-box {
  width: 67px;
  z-index: 99;
}

.header-dark header {
  position: relative;
}

.header-dark .drop-down-menu-parent .triangle-down-webf {
  margin: 0 11px 0 25px;
  top: 4px;
  background-position: 0;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/header-dark-dropdown-dark.png);
  background-repeat: no-repeat;
  border-width: 15px;
}

.white-triangle {
  border-color: transparent;
  border-width: 7px;
  bottom: -2px;
  margin: 0 11px 0 25px;
  font-size: 0;
  height: 10px;
  position: absolute;
  width: 9px;
  border-style: solid;
  top: 4px;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/socialSprite.png);
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  display: block;
  background-position: -438px 0;
}

.header-dark .account-bottons-after-login .account-buttons a.drop-arrow,
.header-dark .drop-arrow {
  border-color: transparent;
  border-width: 7px;
  bottom: -2px;
  margin: 0 11px 0 25px;
  font-size: 0;
  height: 5px;
  position: absolute;
  width: 9px;
  border-style: solid;
  top: 21px;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/header-dark-dropdown-dark.png);
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  display: block;
}

.header-dark .account-menu-box:hover .drop-arrow {
  border-color: transparent;
  border-width: 7px;
  bottom: -2px;
  margin: 0 11px 0 25px;
  font-size: 0;
  height: 5px;
  position: absolute;
  width: 9px;
  border-style: solid;
  top: 21px;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/header-dark-dropdown-dark.png);
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  display: block;
  background-position: initial;
  transform: rotate(180deg);
}

.header-dark .account {
  display: inline-block;
  height: 25px;
  width: 20px;
  padding-top: 1px;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/user-black.png);
  background-repeat: no-repeat;
}

.header-dark .account-buttons .drop-arrow {
  left: 5px !important;
  right: auto;
}

.header-dark .sign-profile-box a {
  font-size: 11px;
  font-weight: 300;
}

.header-dark .drop-down-menu-parent {
  position: relative;
  padding-right: 32px !important;
}

.header-dark .account-menu-box li:hover ul {
  width: 65px;
  left: 0;
}

.header-dark .sign-profile-box a {
  color: #444;
  text-shadow: none;
}

.header-dark .fa-search {
  opacity: 1;
  color: #fff;
}

.header-dark .cancel-button {
  color: #fff;
}

.header-dark .sign-profile-box .account-hover-box a {
  color: #444;
}

.header-dark .account-buttons {
  padding-bottom: 10px;
  border-top: 3px solid #fff;
}

.header-dark .desktop-menu {
  margin-left: 45px;
}

.header-dark .main-dropdown-parent:hover:before,
.header-dark .print-dropdown-parent:hover:before {
  content: "";
  position: absolute;
  top: 69px;
  z-index: 36;
  left: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fdf8f2;
  right: -130px;
  margin: 0 auto;
}

.header-dark .print-dropdown-parent:hover:before {
  right: 500px;
}

.header-dark .main-dropdown-parent:hover .main-dropdown-child,
.header-dark .print-dropdown-parent:hover .print-dropdown-child {
  width: 960px;
  height: 300px;
  position: absolute;
  display: block !important;
  left: 0;
  background-color: #fdf8f2;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 26;
  padding: 12px;
  right: 0;
  margin: auto;
  border-top: 0 solid #e8e8e8;
  z-index: 35;
  top: 81px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
}

.account-bottons-after-login .account-menu-box {
  width: auto !important;
}

.account-bottons-after-login .account {
  margin-top: 21px;
  position: relative;
  top: -8px;
}

.account-bottons-after-login .user-name-account-bottons {
  display: inline-block;
  margin-right: 0;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  margin-top: 25px;
  padding-bottom: 4px;
  vertical-align: top;
}

.header-dark .account-bottons-after-login .account-buttons a.drop-arrow {
  float: right !important;
  margin: 0;
  left: 0 !important;
  display: block;
  position: relative;
}

.header-dark .sign-profile-box {
  margin: 3px 0 0 0;
  position: absolute;
  right: 0 !important;
}

.header-dark .account-bottons-after-login .account-menu-box li:hover ul {
  width: 99%;
  left: 0;
}

.header-dark .account-bottons-after-login {
  top: 0;
  margin-top: 2px;
  position: absolute;
}

.header-dark .account-bottons-after-login a {
  color: #444;
  margin-right: 5px;
}

.header-dark .account-bottons-after-login:hover a {
  color: #888;
}

.header-dark .nav-bar-hidden {
  display: none;
}

.desktop-menu ul,
.desktop-menu ul li {
  display: inline-block;
  padding-right: 10px;
}

.desktop-menu ul li a {
  display: inline-block;
  margin-top: 20px;
  line-height: 37px;
  padding-right: 13px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #444;
  text-shadow: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-dropdown-parent .viewall {
  color: #777 !important;
  font-weight: 400;
}

.main-dropdown-child,
.print-dropdown-child {
  display: block !important;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.main-dropdown-child li,
.print-dropdown-child li {
  margin: 0;
  padding: 0;
  display: block !important;
}

.desktop-menu .main-dropdown-child li a,
.desktop-menu .print-dropdown-child li a {
  font-weight: 300;
  margin: 0 2px;
  color: #888;
  display: block;
  font-size: 12px;
  line-height: 2em;
  padding: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: normal;
}

.main-dropdown-parent .main-dropdown-child .cbc-digital .c-topstore:hover {
  background-color: #ebebeb;
}

.main-dropdown-child li a:hover,
.print-dropdown-child li a:hover {
  background-color: #ebebeb;
}

.main-dropdown-parent a {
  padding-bottom: 20px;
  position: relative;
}

.print-dropdown-parent a {
  padding-bottom: 18px;
}

.main-dropdown-effect > a:hover:after {
  border-top: 3px solid #d5d5d5;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #fafafafc;
  background: #fbfbfb;
  background-color: hsla(0, 0%, 98%, 0.99);
  content: "";
  position: absolute;
  width: 103%;
  height: 120%;
  top: -6px;
  z-index: -1;
  left: -10px;
}

.main-dropdown-effect > a:hover:before {
  border-bottom: 3px solid #fafafa;
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  top: 51px;
  z-index: 21;
  left: -9px;
}

.main-dropdown-parent > a:hover:after,
.print-dropdown-parent > a:hover:after {
  border-top: 3px solid #d5d5d5;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #fafafafc;
  background: #fbfbfb;
  background-color: hsla(0, 0%, 98%, 0.99);
  content: "";
  position: absolute;
  width: 103%;
  height: 120%;
  top: -6px;
  z-index: -1;
  left: -10px;
}

.main-dropdown-parent > a:hover:before,
.print-dropdown-parent > a:hover:before {
  border-bottom: 0 solid #fafafa;
  content: "";
  position: absolute;
  width: 129px;
  height: 3px;
  top: 48px;
  z-index: 36;
  box-shadow: #000;
  left: -9px;
}

.main-dropdown-child:hover:before,
.print-dropdown-child:hover:before {
  border-bottom: 0 solid #fafafa;
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  top: -3px;
  z-index: 21;
  left: 186px;
}

.main-dropdown-effect > a:after {
  border-top: 3px solid #d5d5d5;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #fafafafc;
  background: #fbfbfb;
  background-color: hsla(0, 0%, 98%, 0.99);
  content: "";
  position: absolute;
  width: 103%;
  height: 120%;
  top: -6px;
  z-index: -1;
  left: -10px;
}

.main-dropdown-effect > a:before {
  border-bottom: 3px solid #fafafa;
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  top: 55px;
  z-index: 21;
  left: -9px;
}

.main-dropdown-child li a,
.print-dropdown-child li a {
  content: none !important;
}

.sign-profile-box a {
  display: inline-block;
  color: #888;
  font-family: Poppins, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 0 0 #1d789f;
  text-transform: uppercase;
  margin-top: 11px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.account-menu-box {
  display: inline-block;
  width: 83px;
  position: relative;
  top: 3px;
}

.account-menu-box > li:hover {
  background-color: #f9f9f9;
}

.account-menu-box li:hover ul {
  visibility: visible;
  position: absolute;
  padding-bottom: 8px;
  top: 46px;
  width: 74px;
  background: #f9f9f9;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  z-index: 2;
}

.account-menu-box li:hover ul li:hover {
  background-color: #ebebeb;
}

.account-buttons {
  border-top: 3px solid #fcfcf9;
  padding-left: 10px;
}

.account-menu-box li ul {
  visibility: hidden;
  position: absolute;
}

.account-menu-box li ul li {
  padding-left: 10px;
  padding-right: 13px;
  margin-bottom: 5px;
}

.account-hover-box a {
  display: block;
}

.account-menu-box li ul li a {
  margin: 0;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 400;
}

.sign-in-button {
  display: inline-block;
  color: #888;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px !important;
  margin-right: 13px;
  text-decoration: none;
  text-shadow: 0 1px #1d789f;
  text-transform: uppercase;
  margin-top: 14px;
}

.sign-profile-box {
  display: inline-block;
}

.desktop-menu {
  display: inline-block;
  margin-left: 27px;
}

.cpn-logo {
  display: inline-block;
  float: left;
  margin: 10px 14px 10px 14px;
  width: 90px;
  height: 55px;
  background-image: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/couponscom_logo_color.svg);
  background-repeat: no-repeat;
  background-size: 82px 55px;
}

.triangle-down-webf {
  background-position: -6px -1385px;
  border-color: transparent;
  border-width: 6px;
  bottom: -2px;
  margin: 0 15px 0 25px;
  font-size: 0;
  height: 0;
  position: absolute;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  width: 0;
  border-style: solid;
  top: 6px;
  background-image: url(https://cdnwestus.azureedge.net/assets/images/sprite_icon_29.png);
  right: 2px;
}

.c-topstore {
  padding: 7% 7%;
}

.main-dropdown-child,
.print-dropdown-child {
  font-size: 14px;
  display: none !important;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.header-dark header {
  position: relative;
}

.header-dark header {
  padding-bottom: 0;
}

.apps {
  float: left;
  margin-bottom: 23px;
  margin-left: 15px;
}

.media {
  margin: 1.5em 0;
  text-decoration: none;
  color: #fff;
}

.media .img {
  background: url(https://cdnwestus.azureedge.nhttps://cdnwestus.azureedge.net/assets/images/socialSprite22.png);
  background-position: -646px -414px;
  height: 50px;
  float: left;
  margin-right: 10px;
  width: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.app-desc {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.bm-item a {
  color: #fff;
  text-decoration: none;
}

.bd .app-name {
  margin-bottom: 4px;
}

@media only screen and (max-width: 9999px) and (min-width: 1024px) {
  header {
    margin: 0 auto !important;
    display: table;
    width: 980px;
    padding: 0 20px;
    padding-bottom: 15px;
  }
  .header-search {
    display: none !important;
  }
}

.big {
  padding: 8px;
}

.dark-nav-follow-container {
  display: flex !important;
  outline: 0;
  clear: both;
  align-items: center;
  padding: 40px 10px !important;
}

.dropdown-item {
  display: block;
  padding: 24px 28px 25px 65px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-top: 1px solid #5f5f5f;
  position: relative;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.inner-dropdown {
  padding-bottom: 23px;
  padding-left: 65px;
}

.inner-dropdown-item {
  display: block;
  padding: 24px 28px 25px 80px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-top: 1px solid #5f5f5f;
  position: relative;
}

.dropdown-parent {
  display: block;
  padding: 24px 28px 25px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  position: relative;
}

.print-row {
  width: 55%;
  display: block;
  clear: both;
  position: absolute;
  margin-top: 4%;
}

.print-row .print-column {
  float: left;
  margin: 3%;
  width: 20%;
  margin-bottom: 0;
  height: 110px;
}

.w100 {
  width: 100%;
}

.top-ele-webf {
  width: 100%;
  text-align: center;
}

.top-txt-webf {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  color: #333;
}

.print-img {
  padding: 0;
  margin-top: 18%;
}

.header-dark
  .desktop-menu
  ul
  li.print-dropdown-parent
  .print-dropdown-child
  .print-left-webf
  a {
  margin-top: 0;
  line-height: 0;
  padding-right: 0;
}

.btm-text-name {
  text-align: center;
  color: #333;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding-top: 13%;
  letter-spacing: normal;
}

.cat-head-txt {
  position: absolute;
  margin: 1.5% 2%;
  width: 100%;
}

.o-store {
  margin-top: 22%;
}

.see-all-stores {
  color: #0098ff !important;
  margin-left: 3%;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

.print-right-webf {
  position: absolute;
  float: left;
  width: 50%;
  clear: both;
  padding-top: 4%;
  padding-left: 1%;
  height: 273px;
  right: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.header-dark .desktop-menu ul.print-right-webf li a {
  color: #333;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2;
  font-size: 14px;
}

.other-stores-webf li a p,
.print-right-webf li a p,
.top-stores-webf li a p {
  margin: 0;
  padding: 0;
}

#sec-digital .btm-text-name {
  margin-top: 83%;
}

.print-dropdown-child .btm-text-name {
  padding-top: 18%;
}

.print-iconsd {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: -32px !important;
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/Rebranding_icons/categories_rebrand.png);
  background-size: 752px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .print-iconsd {
    margin-left: 6px !important;
  }
}

.print-icons-0 {
  background-position: -55px -31px;
}

.print-icons-1 {
  background-position: -164px -31px;
}

.print-icons-2 {
  background-position: -274px -31px;
}

.print-icons-3 {
  background-position: -384px -31px;
}

.print-icons-4 {
  background-position: -493px -31px;
}

.print-icons-5 {
  background-position: -601px -31px;
}

.icon-cover {
  width: 78px;
  margin-left: 8%;
  height: 80px;
}

.image-dm {
  width: 80px;
  height: 80px;
}

.digi-image-pos-0 {
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/assets_logo_latest.png) -10px -10px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.digi-image-pos-1 {
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/assets_logo_latest.png) -100px -10px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -75px center;
}

.digi-image-pos-2 {
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/assets_logo_latest.png) -190px -10px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -149px center;
}

.digi-image-pos-3 {
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/assets_logo_latest.png) -280px -10px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -223px center;
}

@media only screen and (max-width: 980px) {
  #header-links {
    display: none;
  }
  .codes-navbar,
  .codes-navbar-footer {
    top: 70px;
  }
}

.logo-img-set {
  background: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/assets_logo.png)
    0 0;
}

.left-section-webf {
  position: absolute;
  float: left;
  width: 34%;
  clear: both;
  left: 0;
  height: 100%;
}

.right-section-webf {
  position: absolute;
  float: left;
  width: 65%;
  clear: both;
  height: 100%;
  right: 0;
}

.line-division {
  width: 1px;
  height: 310px;
  background-color: #dbe1e7;
  position: absolute;
  right: 0;
}

.webf-layout .column-webf {
  width: 17%;
  height: 120px;
  float: left;
  margin-right: 4%;
}

.header-dark .desktop-menu .webf-layout .main-dropdown-child a {
  padding: 0;
}

.webf-layout .btm-text-name {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  padding-top: 8%;
  margin-left: 2%;
}

.webf-layout .digi {
  margin-top: 20%;
}

.webf-layout .other-stores-webf {
  width: 95%;
  clear: both;
  right: 0;
  margin-top: 2%;
  margin-left: 2%;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.top-ele-webf {
  text-align: center;
}

.desktop-menu ul li.webf-layout a {
  margin-top: 1px;
}

.top-head-txt {
  margin-left: 2%;
}

.dropdown-sec1,
.dropdown-sec2,
.dropdown-sec3 {
  width: 96%;
  float: left;
  margin-left: 2%;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #333;
  cursor: pointer;
  height: 62px;
}

.point-right {
  position: inherit;
  float: right;
  transform: rotate(271deg);
  margin-top: -13%;
}

.bg-blue {
  background: #0098ff;
  color: #fff;
}

.webf-layout .top-stores-webf {
  width: 80%;
  clear: both;
  right: 0;
  margin-top: 2%;
  margin-left: 2%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#codes-sec2,
#codes-sec3 {
  display: none;
}

.header-dark #sec-digital:hover:before {
  right: 200px;
}

.font-400 {
  color: #000 !important;
  font-family: Poppins, sans-serif !important;
  font-weight: 700 !important;
}

.sigin-signup-modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

@media only screen and (min-width: 980px) {
  .nav-bar {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .nav-bar {
    display: flex;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  #sidebar-container {
    display: none;
    height: 100%;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    width: 290px;
  }
  .bg-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    top: 0;
    left: 0;
  }
  .hb-menu {
    position: fixed;
    right: inherit;
    z-index: 1100;
    width: 290px;
    transition: all 0.5s ease 0s;
    background: #fdf8f2;
    color: #333;
    list-style: none;
    text-decoration: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }
  .hb-items-wrapper {
    border-bottom: solid 1px #fff;
  }
  .active-hb-menu-item {
    background: #fff;
  }
  #acc-codes-sub-items,
  #acc-digital-sub-items,
  #acc-print-sub-items,
  .acc-wrapper {
    display: none;
  }
  .acc-links,
  .links {
    text-decoration: none;
    color: #333;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 18px 25px;
  }
  .acc-links {
    padding: 15px 25px;
    margin-left: 36px;
    width: calc(100% - 36px);
  }
  .acc-links-text {
    text-decoration: none;
    color: #333;
  }
  .acc-link-wrapper {
    width: 72%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  .links .links-icon {
    margin: 0 10px 0 0;
  }
  .acc-links .accordion-icon-close,
  .links .accordion-icon-close {
    transform: rotate(90deg);
  }
  .links-text {
    min-width: calc(100% - 70px);
    color: #333;
  }
  .acc-links .accordion-icon,
  .links .accordion-icon {
    background-size: 39px 350px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    background-position: 0 -57px;
    width: 20px;
    height: 30px;
    transition: 0.1s ease-in-out;
  }
  .acc-links .accordion-icon-right {
    background-position: 0 -57px;
  }
  .icon {
    background-image: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/Rebranding_icons/rebrand_sidebar_icons.png);
    background-repeat: no-repeat;
    background-position: -6px -244px;
    width: 30px;
    height: 30px;
    background-size: 56px 477px;
    margin: unset;
  }
  .-home {
    background-position: -3px -191px;
  }
  .-print {
    background-position: -3px -257px;
  }
  .-loyalty-card {
    background-position: -2px -158px;
  }
  .-shop-bag {
    background-position: -3px -130px;
  }
  .-star {
    background-position: -3px -227px;
  }
  .-profile {
    background-position: -3px -291px;
  }
  .-super-saver {
    background-position: -3px -411px;
  }
  .profile-signin-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-wrapper {
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
  }
  .footer-logo {
    width: 50px;
    height: 44px;
    margin-right: 10px;
    background-size: 49px 571px;
    background-position: 1px -255px;
    background-image: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/couponscom_logo_color.svg);
    background-repeat: no-repeat;
  }
  .footer-desc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-desc-wrapper .desc {
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0;
    font-family: Poppins, sans-serif;
  }
  .dwnld-now {
    background: #0098ff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    padding: 8px 12px;
    border-radius: 15.5px;
    font-size: 12px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
  }
  #nav-bar-menu {
    color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 100%;
  }
  .menu-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
  #bars {
    margin: auto 10px;
    width: 25px;
    background-position: -5px -29px;
    height: 25px;
    background-size: 70px;
  }
  .mbl-header-logo {
    width: 70px;
    height: 50px;
    background-image: url(https://cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/couponscom_logo_color.svg);
    background-repeat: no-repeat;
    background-size: 58px;
  }
  .functionality-wrapper {
    position: absolute;
    width: 35px;
    height: 30px;
    margin: 0 14px;
    right: 10px;
  }
  #search-input-container {
    width: 100%;
    display: none;
    background: #fdf8f2;
    justify-content: flex-end;
  }
  #mbl-header-print-btn-icon {
    position: absolute;
    right: -30px;
    width: 190px;
    bottom: 0;
    display: none;
    background: #fff;
    border: 0;
  }
  #search-input-container input {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    width: calc(100% - 42px);
    border: 1px solid #cecfca;
    outline: 0;
    margin: 10px;
    padding: 11px;
  }
  #search-icon {
    position: relative;
    padding: 2px 5px;
    text-align: center;
    display: none;
    width: 25px;
    height: 25px;
    background-size: 900px;
    background-position: -1530px -30px;
    background-size: 75px;
    background-position: 3px 1px;
  }
  .img-wrap {
    top: 0 !important;
  }
  #cancel-search {
    display: none;
    padding: 6px 0;
    font-size: 14px;
  }
  #search-bar-dropdown {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 110px;
    display: flex;
    justify-content: flex-end;
  }
  #search-bar-suggestions-list-wrapper {
    margin: 10px;
    display: block;
    background: #fff;
    border: 1px solid #cecfca;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    width: calc(100% - 22px);
    position: relative;
  }
  .search-bar-suggestions-list {
    padding: 10px 25px;
    list-style: none;
  }
  .search-bar-suggestions-list:hover {
    background: #fdf8f2;
  }
  .search-bar-suggestions-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
  }
  .menu-footer-wrapper {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  #search-input-container {
    justify-content: center;
  }
  #search-input-container input {
    width: 70%;
  }
  #search-bar-dropdown {
    width: 76%;
  }
}

.savingstar-signin-model {
  display: block;
  text-align: center;
  overflow-y: auto;
  background-color: transparent;
}

.savingstar-signin-model a,
.savingstar-signin-model button,
.savingstar-signin-model input {
  outline: 0;
}

.savingstar-signin-model input {
  padding: 0;
}

.savingstar-signin-model .savingstar-error {
  position: absolute;
  top: 0;
  height: 120%;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6)
    url(https://cdn.cpnscdn.com/static.coupons.com/Sites/riq/winndixie/images/offer-verification/Loading_animation.gif)
    no-repeat center;
  background-size: 50px 50px;
  display: none;
}

.savingstar-signin-model .modal-content {
  max-width: 600px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 600px;
  height: 100%;
  left: 50%;
  position: fixed;
  margin-top: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
}

.savingstar-signin-model .modal-content::-webkit-scrollbar {
  display: none;
}

.savingstar-signin-model .modal-content .savingstar-modal-header {
  text-align: left;
}

.savingstar-signin-model
  .modal-content
  .savingstar-modal-header
  .savingstar-modal-header-content {
  display: inline-flex;
  width: 80%;
  padding-left: 10px;
  padding-top: 4px;
}

.savingstar-signin-model
  .modal-content
  .savingstar-modal-header
  .savingstar-modal-header-content
  img {
  width: 37.5px;
  height: 50px;
}

.savingstar-signin-model
  .modal-content
  .savingstar-modal-header
  .savingstar-modal-header-content
  .verification-modal-offer-title {
  margin-left: 10px;
  margin-top: 10px;
}

.savingstar-signin-model
  .modal-content
  .savingstar-modal-header
  .circle-close-wrapper {
  float: right;
  margin-top: 10px;
  width: 20px;
  height: 30px;
  font-weight: 600;
  text-align: center;
  margin-right: 20px;
}

.savingstar-signin-model
  .modal-content
  .savingstar-modal-header
  .circle-close-wrapper
  .circle-close {
  color: #9b9b9b;
  font-size: 25px;
  text-decoration: none;
}

.savingstar-signin-model .modal-content .errmsg {
  display: none;
  text-align: initial;
  float: left;
  width: 70%;
  color: red;
  margin-left: 15.5%;
  font-size: 13px;
  font-weight: 400;
}

.savingstar-signin-model .modal-content .bd .errmsg {
  margin-left: 15%;
  font-size: 14px !important;
}

.savingstar-signin-model .modal-content,
.savingstar-signin-model .modal-dialog {
  float: left;
  width: 100%;
}

.savingstar-signin-model .dataflow-container {
  float: left;
  margin: 0 8%;
  width: 84%;
}

.savingstar-signin-model .dataflow-container .signin-signup-form {
  float: left;
  width: 100%;
}

.savingstar-signin-model .dataflow-container .signin-signup-form .heading-info {
  float: left;
  width: 100%;
  text-align: center;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .heading-info
  h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  color: #333;
  width: 100%;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .heading-info
  span {
  font-size: 16px;
  color: #1e2428;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .heading-info
  span.signInFb {
  margin-left: 2%;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .heading-info
  a {
  font-size: 16px;
  text-align: center;
  color: #000;
  text-decoration: underline;
  top: 0;
  text-align: left;
  left: 10px;
  margin-top: -10px;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register {
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  button#couponscom-brandpage-signin:hover,
.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  button#couponscom-brandpage-signup:hover,
.savingstar-signin-model .mod-forgotpwd .bd .send-link:hover {
  background-color: #0075ff;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  button#couponscom-brandpage-signin,
.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  button#couponscom-brandpage-signup,
.savingstar-signin-model .mod-forgotpwd .bd .send-link {
  background-color: #0095ff;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  input {
  width: 69%;
  margin: 0 15.5% 0 15.5%;
  height: 44px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #cdcdcd;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  text-indent: 10px;
  padding: 0;
  float: left;
  font-family: Poppins, sans-serif;
  text-shadow: none;
  box-shadow: none;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  .input-email {
  margin-top: 15px;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  .input-pwd {
  margin-top: 15px;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  .rememme {
  display: none;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .email-register
  a.forgotpwd {
  float: right;
  margin-right: 15.5%;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #101417;
  opacity: 0.67;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 3%;
}

.savingstar-signin-model .dataflow-container .signin-signup-form .separator {
  display: flex;
  justify-content: center;
  width: 84%;
  margin: 0 8% 30px 8%;
}

.savingstar-signin-model
  .dataflow-container
  .signin-signup-form
  .separator
  span {
  line-height: 2px;
}

.savingstar-signin-model .dataflow-container .signin-signup-form hr {
  width: 38%;
  margin: 0 2%;
  border: 0;
  border-top: 1px solid #979797;
}

.savingstar-signin-model .dataflow-container .signin-signup-form span {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #000;
  float: left;
  width: 30px;
}

.savingstar-signin-model .dataflow-container button.btn-cta,
.savingstar-signin-model .dataflow-container div.btn-cta {
  width: 69%;
  margin: 10px 15.5% 30px 15.5%;
  height: 48px;
  border-radius: 2px;
  float: left;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: Poppins, sans-serif !important;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #fff;
  border: 0;
}

.savingstar-signin-model .dataflow-container div.btn-cta {
  cursor: pointer;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  float: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.savingstar-signin-model .dataflow-container div.facebook-signin {
  background-color: #4468b0;
}

.savingstar-signin-model .dataflow-container div.apple-signin {
  background-color: #000;
  line-height: 2.5;
}

.savingstar-signin-model .dataflow-container .btn-cta-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.savingstar-signin-model .dataflow-container .terms-conditions {
  float: left;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.savingstar-signin-model .dataflow-container .terms-conditions p {
  float: left;
  width: 100%;
  color: #9b9b9b;
  font-size: 13px;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.savingstar-signin-model .dataflow-container .terms-conditions p a {
  display: inline-block;
  line-height: normal;
  color: #000;
  font-size: 13px;
  top: 0;
  margin: 0 5px;
  text-decoration: none;
}

.savingstar-signin-model .mod-forgotpwd {
  float: left;
  width: 100%;
  display: none;
  text-align: center;
}

.savingstar-signin-model .mod-forgotpwd .hd {
  float: left;
  width: 100%;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.savingstar-signin-model .mod-forgotpwd .hd h1 {
  font-size: 20px;
}

.savingstar-signin-model .mod-forgotpwd .hd p {
  font-size: 13px;
  margin-top: 15px;
}

.savingstar-signin-model .mod-forgotpwd .bd {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.savingstar-signin-model .mod-forgotpwd .bd input {
  display: inline-block;
  width: 69%;
  margin: 0 15.5% 0 15.5%;
  height: 44px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #cdcdcd;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  text-indent: 10px;
  padding: 0;
  float: left;
  font-family: Poppins, sans-serif;
  text-shadow: none;
  box-shadow: none;
}

.savingstar-signin-model .remember-me {
  width: 69%;
  display: inline-flex;
  margin: 10px 0;
  color: #444;
  font-size: 12px;
  align-items: start;
}

.savingstar-signin-model .remember-me-sign-up {
  width: 69%;
  display: inline-flex;
  margin: 10px 0;
  color: #444;
  font-size: 12px;
  align-items: start;
}

.savingstar-signin-model .chk-remember {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  vertical-align: middle;
  bottom: -1px;
  margin: 0 !important;
}

.savingstar-signin-model .chk-remember-sign-up {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  vertical-align: middle;
  bottom: -1px;
  margin: 0 !important;
}

.savingstar-signin-model .remember-me-label-sign-up {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: normal;
  margin-left: 10px;
  font-weight: 400;
  width: 90%;
  margin-left: 10px;
}

.savingstar-signin-model .remember-me-label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: normal;
  margin-left: 10px;
  font-weight: 400;
  width: 90%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .savingstar-signin-model .errmsg {
    text-align: initial;
    width: 100% !important;
    margin: 0 !important;
  }
  .savingstar-signin-model .bd .errmsg {
    margin-left: 15%;
  }
  .savingstar-signin-model .modal-dialog {
    margin: 0;
  }
  .savingstar-signin-model
    .dataflow-container
    .signin-signup-form
    .email-register
    input {
    margin: 30px 15.5% 0 0;
    width: 100%;
  }
  .savingstar-signin-model .dataflow-container .signin-signup-form .separator {
    margin: 0;
    margin-bottom: 27px;
    width: 100%;
  }
  .savingstar-signin-model
    .dataflow-container
    .signin-signup-form
    .separator
    hr {
    width: 40%;
  }
  .savingstar-signin-model
    .dataflow-container
    .signin-signup-form
    .email-register
    a.forgotpwd {
    margin-right: 0;
  }
  .savingstar-signin-model
    .dataflow-container
    .signin-signup-form
    button.btn-cta {
    margin: 8% 15.5% 27px 0;
    width: 100%;
  }
  .savingstar-signin-model .dataflow-container .signin-signup-form div.btn-cta {
    margin: 0 15.5% 12px 0;
    width: 100%;
  }
  .savingstar-signin-model
    .dataflow-container
    .signin-signup-form
    .mod-forgotpwd
    .bd
    input {
    width: 100%;
    margin: 0;
  }
  .remember-me {
    width: 100% !important;
  }
  .remember-me-sign-up {
    width: 100% !important;
  }
  .chk-remember-user {
    margin: 0 !important;
    width: 13px !important;
  }
}

@media (max-width: 750px) {
  .savingstar-signin-model .savingstar-error {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6)
      url(https://cdn.cpnscdn.com/static.coupons.com/Sites/riq/winndixie/images/offer-verification/Loading_animation.gif)
      no-repeat center;
    background-size: 50px 50px;
  }
  .savingstar-signin-model .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .savingstar-signin-model .modal-content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 0;
  }
  .savingstar-signin-model .mod-forgotpwd .bd .input-email {
    width: 100%;
    margin: 0;
  }
}

#grecap_v2 {
  display: inline-block;
}
